/* CSS Document */
BODY {font:16px/20px 'Titillium Web', sans-serif; color:#666; background:#ececec url("../images/background.jpg") repeat-x top center; behavior:url("csshover.htc");}

#wrap{ width:980px; margin:auto; }

header{ width:980px; height:210px;}

footer{ width:100%; overflow:hidden; background-color:#0093cb; /*font:12px/14px 'AvantGardeBook', Arial, Helvetica, sans-serif;*/ color:#426713; padding:0; } 

nav { width:100%; overflow:hidden; background-color:#daa404; border-bottom:1px solid #FFF; border-bottom: 1px solid #FFFFFF; box-shadow: 1px 1px 20px #CCCCCC; }

#contenedor { width:980px; margin:auto; background-color:#FFFFFF; padding-top:20px; overflow:auto; }

#colLeft { width:356px; float:left; }

#colPrincipal { width:590px; float:left; padding:5px; }

aside {width:260px; float:left; padding:2px; background-color:#99CC99;}

section {width:400px; float:left; padding:4px; background-color:#FF9966;}

.clear { clear:both;}

